.row::after{
	content: "";
	display: block;
	clear: both;
}
.row.row1{
	box-sizing: border-box;
	width: 100%;
}
.row1-col1{
	box-sizing: border-box;
	float: left;
	width: 28%;
	margin-top: 60px;
}
.row1-col2{
	box-sizing: border-box;
	float: left;
	width: 72%;
	height: 135px;
	background-color: 	rgb(245, 245, 240);
}
.row1-col1-col1{
	box-sizing: border-box;
	float: left;
	width: 40%;
}
.row1-col1-col2{
	box-sizing: border-box;
	float: left;
	width: 60%;
}
.row.logo{
	box-sizing: border-box;
	width: 100%;
	padding-left: 95px;
}
.row.heading{
	box-sizing: border-box;
	width: 100%;
}
.row.slogan{
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font-size: x-small;
	padding-right: 110px;
}
#ungineering{
	margin-top: 10px;
	margin-bottom: 0px;
}
#hr{

    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 105px;
}
#slogan{
	margin-top: 0px;
	margin-bottom: 0px;
}
#red{
	color: red;
}

.row2{
	box-sizing: border-box;
	width: 100%;
}
.row2-col1{
	box-sizing: border-box;
	width: 28%;
	float: left;
}
.row.row2-col1-row1{
	width: 100%;
}
.row.row2-col1-row2{
	width: 100%;
}

.row2-col2{
	box-sizing: border-box;
	width: 72%;
	height: 532px;
	float: left;
	background-color: rgb(245, 245, 240);
}
.newuser{
	box-sizing: border-box;
	width: 100%;
	padding-left: 115px;
	padding-top: 75px;
	font-family: sans-serif;
	color: rgb(122, 122, 123);
}
.link{
	box-sizing: border-box;
	width: 100%;
	padding-left: 115px;
	padding-top: 20px;
	font-family: sans-serif;
}
#heading{
	margin: 0px;
}

.row2-col2-row1{
	box-sizing: border-box;
	width: 100%;
}
.form-heading{
	box-sizing: border-box;
	width: 100%;
	padding-top: 75px;
	padding-left: 90px;
	color: rgb(122, 122, 123);
	font-family: sans-serif;
}
.row.row2-col2-row2{
	box-sizing: border-box;
	width: 100%;
}
.row2-col2-row2-col1{
	box-sizing: border-box;
	float: left;
	width: 22%;
}
.row2-col2-row2-col2{
	box-sizing: border-box;
	float: left;
	width: 78%;
}
.name{
	padding-left: 90px;
	font-family: sans-serif;
}
.button{
	box-sizing: border-box;
	width: 100%;
	padding-left: 22%;
}
#header{
	margin-top: 0px;
}
.box{
	font-size: medium;
	padding: 0px;
    height: 36px;
    width: 410px;
    border: 0px;
    border-radius: 4px;
}
.box.button{
	color: white;
	background-color: red;
	font-family: sans-serif;
}
.link.form{
	padding-left: 350px;
}